---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jwperry/events?access_token=6db313009629778e273460b3a9bab9d8cf356e1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1455903443'
      Last-Modified:
      - Thu, 18 Feb 2016 20:26:24 GMT
      Etag:
      - W/"6f8113435b93ff49f53001ecfe35c121"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 56a18f1782f532ec9f74
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/13172425/events?access_token=6db313009629778e273460b3a9bab9d8cf356e1b&page=2>;
        rel="next", <https://api.github.com/user/13172425/events?access_token=6db313009629778e273460b3a9bab9d8cf356e1b&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3663261224","type":"IssuesEvent","actor":{"id":13172425,"login":"jwperry","gravatar_id":"","url":"https://api.github.com/users/jwperry","avatar_url":"https://avatars.githubusercontent.com/u/13172425?"},"repo":{"id":51891414,"name":"jwperry/api_curious","url":"https://api.github.com/repos/jwperry/api_curious"},"payload":{"action":"closed","issue":{"url":"https://api.github.com/repos/jwperry/api_curious/issues/13","repository_url":"https://api.github.com/repos/jwperry/api_curious","labels_url":"https://api.github.com/repos/jwperry/api_curious/issues/13/labels{/name}","comments_url":"https://api.github.com/repos/jwperry/api_curious/issues/13/comments","events_url":"https://api.github.com/repos/jwperry/api_curious/issues/13/events","html_url":"https://github.com/jwperry/api_curious/issues/13","id":134768848,"number":13,"title":"Refactor
        profile controller and show","user":{"login":"jwperry","id":13172425,"avatar_url":"https://avatars.githubusercontent.com/u/13172425?v=3","gravatar_id":"","url":"https://api.github.com/users/jwperry","html_url":"https://github.com/jwperry","followers_url":"https://api.github.com/users/jwperry/followers","following_url":"https://api.github.com/users/jwperry/following{/other_user}","gists_url":"https://api.github.com/users/jwperry/gists{/gist_id}","starred_url":"https://api.github.com/users/jwperry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwperry/subscriptions","organizations_url":"https://api.github.com/users/jwperry/orgs","repos_url":"https://api.github.com/users/jwperry/repos","events_url":"https://api.github.com/users/jwperry/events{/privacy}","received_events_url":"https://api.github.com/users/jwperry/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2016-02-19T04:26:18Z","updated_at":"2016-02-19T04:26:24Z","closed_at":"2016-02-19T04:26:24Z","body":"Move
        pile of instance variables to a single object to pass to the view."}},"public":true,"created_at":"2016-02-19T04:26:24Z"},{"id":"3663261048","type":"IssuesEvent","actor":{"id":13172425,"login":"jwperry","gravatar_id":"","url":"https://api.github.com/users/jwperry","avatar_url":"https://avatars.githubusercontent.com/u/13172425?"},"repo":{"id":51891414,"name":"jwperry/api_curious","url":"https://api.github.com/repos/jwperry/api_curious"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/jwperry/api_curious/issues/13","repository_url":"https://api.githu[...]
