---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=6db313009629778e273460b3a9bab9d8cf356e1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1455903443'
      Etag:
      - W/"24c5f3317140a6546982459f115e67fd"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 56a18f1782f532ec9f74
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?access_token=6db313009629778e273460b3a9bab9d8cf356e1b&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=6db313009629778e273460b3a9bab9d8cf356e1b&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":51306996,"name":"codebreakers","full_name":"GregoryArmstrong/codebreakers","owner":{"login":"GregoryArmstrong","id":13356027,"avatar_url":"https://avatars.githubusercontent.com/u/13356027?v=3","gravatar_id":"","url":"https://api.github.com/users/GregoryArmstrong","html_url":"https://github.com/GregoryArmstrong","followers_url":"https://api.github.com/users/GregoryArmstrong/followers","following_url":"https://api.github.com/users/GregoryArmstrong/following{/other_user}","gists_url":"https://api.github.com/users/GregoryArmstrong/gists{/gist_id}","starred_url":"https://api.github.com/users/GregoryArmstrong/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/GregoryArmstrong/subscriptions","organizations_url":"https://api.github.com/users/GregoryArmstrong/orgs","repos_url":"https://api.github.com/users/GregoryArmstrong/repos","events_url":"https://api.github.com/users/GregoryArmstrong/events{/privacy}","received_events_url":"https://api.github.com/users/GregoryArmstrong/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/GregoryArmstrong/codebreakers","description":null,"fork":false,"url":"https://api.github.com/repos/GregoryArmstrong/codebreakers","forks_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/forks","keys_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/keys{/key_id}","collaborators_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/teams","hooks_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/hooks","issue_events_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/issues/events{/number}","events_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/events","assignees_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/assignees{/user}","branches_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/branches{/branch}","tags_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/tags","blobs_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/git/refs{/sha}","trees_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/git/trees{/sha}","statuses_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/statuses/{sha}","languages_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/languages","stargazers_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/stargazers","contributors_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/contributors","subscribers_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/subscribers","subscription_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/subscription","commits_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/commits{/sha}","git_commits_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/git/commits{/sha}","comments_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/comments{/number}","issue_comment_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/issues/comments{/number}","contents_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/contents/{+path}","compare_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/compare/{base}...{head}","merges_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/merges","archive_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/downloads","issues_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/issues{/number}","pulls_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/pulls{/number}","milestones_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/milestones{/number}","notifications_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/labels{/name}","releases_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/releases{/id}","deployments_url":"https://api.github.com/repos/GregoryArmstrong/codebreakers/deployments","created_at":"2016-02-08T15:45:01Z","updated_at":"2016-02-08T15:56:11Z","pushed_at":"2016-02-12T15:35:43Z","git_url":"git://github.com/GregoryArmstrong/codebreakers.git","ssh_url":"git@github.com:GregoryArmstrong/codebreakers.git","clone_url":"https://github.com/GregoryArmstrong/codebreakers.git","svn_url":"https://github.com/GregoryArmstrong/codebreakers","homepage":null,"size":8,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"open_issues_count":0,"forks":2,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":44852173,"name":"1project_repo","full_name":"jwperry/1project_repo","owner":{"login":"jwperry","id":13172425,"avatar_url":"https://avatars.githubusercontent.com/u/13172425?v=3","gravatar_id":"","url":"https://api.github.com/users/jwperry","html_url":"https://github.com/jwperry","followers_url":"https://api.github.com/users/jwperry/followers","following_url":"https://api.github.com/users/jwperry/following{/other_user}","gists_url":"https://api.github.com/users/jwperry/gists{/gist_id}[...]
