---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=6db313009629778e273460b3a9bab9d8cf356e1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1455903443'
      Etag:
      - W/"e333c37319f663bbce0020fcb417c5fa"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 56a18f1782f532ec9f74
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"PenneyGadget","id":10964923,"avatar_url":"https://avatars.githubusercontent.com/u/10964923?v=3","gravatar_id":"","url":"https://api.github.com/users/PenneyGadget","html_url":"https://github.com/PenneyGadget","followers_url":"https://api.github.com/users/PenneyGadget/followers","following_url":"https://api.github.com/users/PenneyGadget/following{/other_user}","gists_url":"https://api.github.com/users/PenneyGadget/gists{/gist_id}","starred_url":"https://api.github.com/users/PenneyGadget/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PenneyGadget/subscriptions","organizations_url":"https://api.github.com/users/PenneyGadget/orgs","repos_url":"https://api.github.com/users/PenneyGadget/repos","events_url":"https://api.github.com/users/PenneyGadget/events{/privacy}","received_events_url":"https://api.github.com/users/PenneyGadget/received_events","type":"User","site_admin":false},{"login":"mikedao","id":3011748,"avatar_url":"https://avatars.githubusercontent.com/u/3011748?v=3","gravatar_id":"","url":"https://api.github.com/users/mikedao","html_url":"https://github.com/mikedao","followers_url":"https://api.github.com/users/mikedao/followers","following_url":"https://api.github.com/users/mikedao/following{/other_user}","gists_url":"https://api.github.com/users/mikedao/gists{/gist_id}","starred_url":"https://api.github.com/users/mikedao/starred{/owner}{/repo}","subsc[...]
