---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=6db313009629778e273460b3a9bab9d8cf356e1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1455903443'
      Etag:
      - W/"d731916f8d5951b0d73f7af8b79202d3"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 56a18f1782f532ec9f74
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},{"login":"martensonbj","id":13123158,"avatar_url":"https://avatars.githubusercontent.com/u/13123158?v=3","gravatar_id":"","url":"https://api.github.com/users/martensonbj","html_url":"https://github.com/martensonbj","followers_url":"https://api.github.com/users/martensonbj/followers","following_url":"https://api.github.com/users/martensonbj/following{/other_user}","gists_url":"https://api.github.com/users/martensonbj/gists{/gist_id}","starred_url":"https://api.github.com/users/martensonbj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/martensonbj/subscriptions","organizations_url":"https://api.github.com/users/martensonbj/orgs","repos_url":"https://api.github.com/users/martensonbj/repos","events_url":"https://api.github.com/users/martensonbj/events{/privacy}","received_events_url":"https://api.github.com/users/martensonbj/received_events","type":"User","site_admin":false}]'
  recorded_at: Fri, 19 Feb 2016 17:09:02 GMT
- request:
    method: get
    uri: https://api.github.com/users/brantwellman/events?access_token=6db313009629778e273460b3a9bab9d8cf356e1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1455903443'
      Last-Modified:
      - Fri, 19 Feb 2016 08:22:32 GMT
      Etag:
      - W/"8867833a1a7be124954e4e930fcb8729"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 56a18f1782f532ec9f74
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/6422641/events?access_token=6db313009629778e273460b3a9bab9d8cf356e1b&page=2>;
        rel="next", <https://api.github.com/user/6422641/events?access_token=6db313009629778e273460b3a9bab9d8cf356e1b&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3665526697","type":"IssuesEvent","actor":{"id":6422641,"login":"brantwellman","gravatar_id":"","url":"https://api.github.com/users/brantwellman","avatar_url":"https://avatars.githubusercontent.com/u/6422641?"},"repo":{"id":51879015,"name":"brantwellman/api-curious","url":"https://api.github.com/repos/brantwellman/api-curious"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/brantwellman/api-curious/issues/36","repository_url":"https://api.github.com/repos/brantwellman/api-curious","labels_url":"https://api.github.com/repos/brantwellman/api-curious/issues/36/labels{/name}","comments_url":"https://api.github.com/repos/brantwellman/api-curious/issues/36/comments","events_url":"https://api.github.com/repos/brantwellman/api-curious/issues/36/events","html_url":"https://github.com/brantwellman/api-curious/issues/36","id":134906138,"number":36,"title":"Create
        a new repository","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2016-02-19T16:22:32Z","updated_at":"2016-02-19T16:22:32Z","closed_at":null,"body":null}},"public":true,"created_at":"2016-02-19T16:22:32Z"},{"id":"3665521507","type":"PushEvent","actor":{"id":6422641,"login":"brantwellman","gravatar_id":"","url":"https://api.github.com/users/brantwellman","avatar_url":"https://avatars.githubusercontent.com/u/6422641?"},"repo":{"id":51879015,"name":"brantwellman/api-curious","url":"https://api.github.com/repos/brantwellman/api-curious"},"payload":{"push_id":985050508,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"fa21490efa848f97ece0f402d125ed945dc3a6ff","before":"8015bdc67f7442fdb10b4548ff3b847257ca2f5e","commits":[{"sha":"c6b46aaafc4504531481e3605f59ae9164c154c7","author":{"email":"BrantWellman@gmail.com","name":"Brant
        Wellman"},"message":"Basic styling for dashboard","distinct":false,"url":"https://api.github.com/repos/brantwellman/api-curious/commits/c6b46aaafc4504531481e3605f59ae9164c154c7"},{"sha":"fa21490efa848f97ece0f402d125ed945dc3a6ff","author":{"email":"brantwellman@gmail.com","name":"Brant
        Wellman"},"message":"Merge pull request #35 from brantwellman/Move-following-activity\n\nBasic
        styling for dashboard","distinct":true,"url":"https://api.github.com/repos/brantwellman/api-curious/commits/fa21490efa848f97ece0f402d125ed945dc3a6ff"}]},"public":true,"created_at":"2016-02-19T16:21:28Z"},{"id":"3665521463","type":"PullRequestEvent","actor":{"id":6422641,"login":"brantwellman","gravatar_id":"","url":"https://api.github.com/users/brantwellman","avatar_url":"https://avatars.githubusercontent.com/u/6422641?"},"repo":{"id":51879015,"name":"brantwellman/api-curious","url":"https://api.github.com/repos/brantwellman/api-curious"},"payload":{"action":"closed","number":35,"pull_request":{"url":"https://api.github.com/repos/brantwellman/api-curious/pulls/35","id":59971150,"html_url":"https://github.com/brantwellman/api-curious/pull/35","diff_url":"https://github.com/brantwellman/api-curious/pull/35.diff","patch_url":"https://github.com/brantwellman/api-curious/pull/35.patch","issue_url":"https://api.github.com/repos/brantwellman/api-curious/issues/35","number":35,"state":"closed","locked":false,"title":"Basic
        styling for dashboard","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"body":"Moved
        following activity to separate page\r\nBasic styling for user dashboard","created_at":"2016-02-19T16:21:22Z","updated_at":"2016-02-19T16:21:27Z","closed_at":"2016-02-19T16:21:27Z","merged_at":"2016-02-19T16:21:27Z","merge_commit_sha":"3000fd77e7f8f2974371bf5650c88436cad080a2","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/brantwellman/api-curious/pulls/35/commits","review_comments_url":"https://api.github.com/repos/brantwellman/api-curious/pulls/35/comments","review_comment_url":"https://api.github.com/repos/brantwellman/api-curious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/brantwellman/api-curious/issues/35/comments","statuses_url":"https://api.github.com/repos/brantwellman/api-curious/statuses/c6b46aaafc4504531481e3605f59ae9164c154c7","head":{"label":"brantwellman:Move-following-activity","ref":"Move-following-activity","sha":"c6b46aaafc4504531481e3605f59ae9164c154c7","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"repo":{"id":51879015,"name":"api-curious","full_name":"brantwellman/api-curious","owner":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/brantwellman/api-curious","description":"","fork":false,"url":"https://api.github.com/repos/brantwellman/api-curious","forks_url":"https://api.github.com/repos/brantwellman/api-curious/forks","keys_url":"https://api.github.com/repos/brantwellman/api-curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/brantwellman/api-curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/brantwellman/api-curious/teams","hooks_url":"https://api.github.com/repos/brantwellman/api-curious/hooks","issue_events_url":"https://api.github.com/repos/brantwellman/api-curious/issues/events{/number}","events_url":"https://api.github.com/repos/brantwellman/api-curious/events","assignees_url":"https://api.github.com/repos/brantwellman/api-curious/assignees{/user}","branches_url":"https://api.github.com/repos/brantwellman/api-curious/branches{/branch}","tags_url":"https://api.github.com/repos/brantwellman/api-curious/tags","blobs_url":"https://api.github.com/repos/brantwellman/api-curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/brantwellman/api-curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/brantwellman/api-curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/brantwellman/api-curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/brantwellman/api-curious/statuses/{sha}","languages_url":"https://api.github.com/repos/brantwellman/api-curious/languages","stargazers_url":"https://api.github.com/repos/brantwellman/api-curious/stargazers","contributors_url":"https://api.github.com/repos/brantwellman/api-curious/contributors","subscribers_url":"https://api.github.com/repos/brantwellman/api-curious/subscribers","subscription_url":"https://api.github.com/repos/brantwellman/api-curious/subscription","commits_url":"https://api.github.com/repos/brantwellman/api-curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/brantwellman/api-curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/brantwellman/api-curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/brantwellman/api-curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/brantwellman/api-curious/contents/{+path}","compare_url":"https://api.github.com/repos/brantwellman/api-curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/brantwellman/api-curious/merges","archive_url":"https://api.github.com/repos/brantwellman/api-curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/brantwellman/api-curious/downloads","issues_url":"https://api.github.com/repos/brantwellman/api-curious/issues{/number}","pulls_url":"https://api.github.com/repos/brantwellman/api-curious/pulls{/number}","milestones_url":"https://api.github.com/repos/brantwellman/api-curious/milestones{/number}","notifications_url":"https://api.github.com/repos/brantwellman/api-curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/brantwellman/api-curious/labels{/name}","releases_url":"https://api.github.com/repos/brantwellman/api-curious/releases{/id}","deployments_url":"https://api.github.com/repos/brantwellman/api-curious/deployments","created_at":"2016-02-16T23:42:49Z","updated_at":"2016-02-17T02:58:04Z","pushed_at":"2016-02-19T16:21:27Z","git_url":"git://github.com/brantwellman/api-curious.git","ssh_url":"git@github.com:brantwellman/api-curious.git","clone_url":"https://github.com/brantwellman/api-curious.git","svn_url":"https://github.com/brantwellman/api-curious","homepage":null,"size":3985,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master"}},"base":{"label":"brantwellman:master","ref":"master","sha":"8015bdc67f7442fdb10b4548ff3b847257ca2f5e","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/events?access_token=6db313009629778e273460b3a9bab9d8cf356e1b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1455903443'
      L[...]
